$yellow: #af945e;
$yellow_opacity: rgba(175, 148, 94, 0.8);
$yellow_lighter: #cfad68;
$light-yellow: #debd7a;
$yellow-background: rgba(175, 148, 94, 0.4);
$gray-background: #d8d9d9;

$red:#ed1c24;
$black:#000000;
$grey: #888888;
$light-grey-background: #d7d7d7;
$white: rgb(255, 255, 255);
$col-grey-light: #bebebe;
$col-grey-dark: #606060;
$col-grey-dark-2:#2a2d34;
$col-blue-light: #74c4d6;
$col-blue: #008fbe;
$col-black:#0f0f0f;
