@import 'colors';
// @import 'basic/header.scss';
// @import 'basic/fonts.scss';
@import 'basic/a_cookieconsent.min.scss';
// @import 'basic/a_hamburgers.min.scss';
@import 'basic/a_bootstrap.min.scss';
@import 'basic/aa_reset_form.scss';
@import 'basic/aa_reset.scss';
@import 'basic/flexible-content.scss';
@import 'basic/ab_lazy_load.scss';
// @import 'basic/b_hover-min.scss';

// Wow.js styles
@import 'wowjs/animate.scss';

//landing styles

@import 'hamburgers/hamburgers.scss';
@import 'homepage/ab_owl.carousel.min.scss';
@import 'homepage/header.scss';


* {
    border-style: none; 
}

main {
    background-color: $black;
    overflow: hidden;
}

body {
    overflow-x: hidden;
    .row {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .col-12 {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.simpleParallax {
    animation-name: fadein;
    animation-duration: 1s;
}