body {
    overflow-x:hidden;

#preloader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #000000;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 99999;
    animation-name: opacity_all;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    visibility: visible;
    img {
        width: 300px;
        height: auto;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        animation-name: opacity_loop;
        animation-duration: 2s;
        opacity: 0;
        animation-iteration-count: 4;
        @media(max-width: 400px){
            width: 60%;
            height: auto;
        }
    }
    @keyframes opacity_loop {
        0% {opacity: 0;}
        30% {opacity: 1;}
        60% {opacity: 1;}
        90% {opacity: 0;}
    }
    @keyframes opacity_all {
        100% {
            visibility: hidden;
        }
    }
}
}