@import 'colors';
section{
  &.flexible-content{
    padding-bottom: 80px;
    padding-top: 80px;
    @media(max-width: 768px){
      padding-bottom: 40px;
      padding-top: 40px;
    }

    h1, .h1{
      font-size: 40px;
      line-height: 70px;
      color: $col-blue;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 80px;
      text-align: left;
      text-transform: uppercase;
      display: block;

      @media(max-width: 1366px){
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 60px;
      }
      @media(max-width: 540px){
        font-size: 30px;
        line-height: 40px;
      }
    }
    h2{
      font-size: 40px;
      line-height: 70px;
      color: $col-blue;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 40px;
      text-align: left;
      text-transform: uppercase;
      display: block;
      @media(max-width: 1366px){
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
      }
      @media(max-width: 540px){
        font-size: 30px;
        line-height: 40px;
      }
    }



    h3, .h3{
      font-size: 24px;
      line-height: 36px;
      font-weight: 400;
      text-transform: uppercase;
      color: $col-black;
      margin-bottom: 30px;
      display: block;
      @media(max-width: 1366px){
        font-size: 20px;
        line-height: 30px;
      }
      @media(max-width: 540px){
        font-size: 18px;
        line-height: 22px;
      }
    }
    p{
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 30px;
      color: $col-black;
      @media(max-width: 1366px){
        font-size: 14px;
        line-height: 20px;
      }

      strong{
        font-weight: 700;
      }

    }
    strong, b{
      font-weight: 700;
    }

    img{
      max-width: 100%;
      height: auto;
      border: 2px solid $col-blue;
      &.aligncenter{
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      &.alignleft{
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        display: block;
        @media(max-width: 992px){
          margin-left: auto;
          margin-right: auto;;
          float: none;
        }
      }
      &.alignright{
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
        display: block;
        @media(max-width: 992px){
          margin-left: auto;
          margin-right: auto;;
          float: none;
        }
      }
    }
    .expand-boxes{
      margin-top: 40px;
      .expanded{
        .title{
          h3{
            color: $col-blue;
          }
        }
      }
      .title{
        padding-bottom: 0px;
        padding-top: 0px;
        cursor: pointer;
        &:hover{
          h3{
            color: $col-blue-light;
          }
        }
        h3{
          display: inline-block;
          width: auto;
          padding-right: 20px;
          text-transform: none;
          background-image: url('../img/arrow-down-menu.png');
          background-repeat:no-repeat;
          background-size: 10px 6px;
          background-position: right center;
          transition: color 0.5s;
          // padding-bottom: 20px;
          margin-bottom: 20px;
        }
      }
      .content{
        width: 100%;
        height: 0;
        overflow: hidden;
        margin-bottom: 20px;
      }

    }
    ul{
      margin-bottom: 30px;
      li{
        padding-left: 20px;
        position: relative;
        margin-bottom: 15px;
        line-height: 30px;
        font-size: 16px;
        margin-bottom: 10px;
        &:before{
          content: '';
          width: 5px;
          height: 5px;
          left: 0;
          top:12px;
          border-radius: 10px;
          background-color: $col-blue;
          position: absolute;
        }
        @media(max-width: 1366px){
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
    ol{
      list-style: decimal;
      padding-left: 20px;
      li{
        position: relative;
        margin-bottom: 15px;
        line-height: 30px;
        font-size: 16px;
        &:before{
          content: none;
        }
        @media(max-width: 1366px){
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 10px;
        }
      }

    }
    form{
      &.wpcf7-form{
        input{
          &[type="text"],&[type="email"],&[type="tel"]{
          text-align: left;
          }
        }
        textarea{
        }
      }

    }

  }

}
