.header-wrapper{
  position: relative;
  width: 100%;
  background-color: black;
}


header {
    height: 58px;
    border-bottom: 3px solid $yellow;
    background-image: url("../img/menu-background.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: right;
    &.header{
      position: fixed;
      z-index: 9999;
      transition: 0.5s top;
      top:0;
      background-color: #fff;
      &.sticky{
        top:-160px;
        @media(max-width: 1366px){
          top:-160px;
        }
        @media(max-width: 1025px){
          top:-160px;
        }
        &.scroll-up{
          top:0px;
        }
      }
    &.container-fluid{
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      .container{
        // height: 58px;
        @media(max-width: 1025px){
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          padding-right: 0;
          min-width: 100%; //fallback
          width: 100vw;
        }
      }
    }


    .logo {
      position: relative;
      float: left;
      img {
        width: 150px;
        height: 142px;
      }
      @media(max-width: 1225px) {
        margin-left: 25px;
        position: absolute;
        z-index: 100;
        img {
          width: 100px;
          height: 94px;
        }
      }
      img {
        border-radius: 0 0 25px 25px;
        border: 4px solid $yellow;
        border-top: none;
        padding: 10px;
        background-color: $black;
      }
    }

    .menu-expand-btn {
      display: none;
      @media (max-width: 1025px) {
        color: white;
          display: block;
          float: right;
          padding-top: 15px;
          padding-bottom: 10px;
          padding-left: 30px;
          padding-right: 30px;
          line-height: 30px;
          font-size: 25px;
          cursor: pointer;
        }
      }
      
  .main-menu {
    @media (max-width: 1025px) {
      width: 100%;
      overflow: hidden;
      max-height: 0;
      display: block;
      &.expanded {
        width: 100%;
        height: calc(100vh-55px);
        transition: 500ms ease-in;
        max-height: 2000px;
        overflow-y: auto;
        padding-bottom: 50px;
        background-color: $black;
        #doberman-menu {
          ul {
            li {
              padding-top: unset;
              a {
                display: block;
                width: 100%;
                padding-top: 15px;
                padding-bottom: 15px;
                text-align: left;
              }
            }
          }
        }
      }
    
    button.navbar-toggler {
      display: block;
    }
    .menu-expand-btn {
      display: block;
    }
    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

    #doberman-menu {
      font-weight: 400;
      text-transform: uppercase;
      @media (max-width: 1025px) {
        padding-top: 70px;
        margin: 0;
        padding: 0;
        text-align: right;
        width: 100%;
        display: block;
      }
      &.makeDisappear {
        display: none;
        }
      ul {
        @media (max-width: 1025px) {
          padding-top: 50px;
          background-color: $black;
          display: block; 
        }
        li {
          height: 58px;
          display: inline-block;
          position: relative;
          text-align: center;
          &.langs {
            a {
              color: gray;
              margin-left: -25px;
              @media (max-width: 1025px) {
                margin-left: 25px;
              }
            }
          }
          @media (max-width: 1025px) {
            min-height: 70px;
            border-top: 1px solid $yellow;
            width: 100%;
            margin-right: 0;
            display: inline-block;
            width: 100%;
            position: relative;
            // margin-bottom: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: -5px;
            &.onas {
              border-top: none;
            }
            &:hover {
              background-color: $yellow;
              >a {
              color: $white;
              }
            }
          }
          .sub-menu {
            display: none;
            @media (max-width: 1025px) {
            &.showmore {
              padding-top: 0;
              display: block;
              position: relative;
              background-color: $black;
              // margin-top: 51px;
              margin-top: 68px;
              >li {
                &:hover {
                  a {
                  color: $white;
                }
              }
                a {
                  margin-left: 60px;
                  color: $grey;
                }
                span {
                  display: none;
                }
              }
            }
          }
          }
          &.menu-item-has-children {
            @media (max-width: 1025px) {
              .arrow {
                height: 70px;
                content: url("../img/down-chevron-white.png");
                position: absolute;
                top: 0;
                right: 0;
                border: 0 0 1px 1px solid $yellow;
                padding-top: 18px;
                padding-bottom: 18px;
                padding-left: 15px;
                margin-right: 15px;
                border-top: none;
                border-bottom: none;
                border-right: none;
                margin-top: unset;
                display: unset;
                background-color:unset;
                background-repeat: unset;
                height: unset;
                width: unset;
            }
            }
            &:hover { 
              @media (min-width: 1024px) {
              >.sub-menu {
                transition: 500ms ease-in;
                padding-left: 30px;
                background-color: $yellow-background;
                display: table;
                position: absolute;
                top: 100%;
                left: -250%;
                height: 137px;
                width: 945px;
                border: 1px solid $light-yellow;
                @media (max-width: 1025px) {
                  display: none;
                }
                li {
                  display: table-cell;
                  vertical-align: middle;
                  &:last-of-type {
                    a {
                      padding-top: 47px;
                    }
                    .arrow {
                      display: none;
                    }
                    &::after {
                      content: url("../img/dobs.png");
                   }
                }
                  a {
                    color: $white;
                    position: relative;
                    &::before {
                      content: "";
                      position: absolute;
                      width: 0;
                      height: 2px;
                      bottom: 0;
                      left: 0;
                      background-color: #FFF;
                      visibility: hidden;
                      transition: all 0.3s ease-in-out;
                    }
                    &:hover {
                      &::before {
                      visibility: visible;
                      width: 100%;
                      }
                    }
                  }
                }
              }
          }
        }
        }
          >a {
            margin-right: 25px;
            margin-left: 25px;
            padding-top: 11px;
            font-family: 'BenchNine', sans-serif;
            text-decoration: none;
            color: $yellow;
            font-size: 25px;
            float: left;
            @media (max-width: 1600px) {
              margin-right: 20px;
              margin-left: 20px;
            }
            @media (max-width: 1025px) {
              text-align: center;
              padding-top: 0;
            }
            &:hover {
              color: $white;
            }
          }
          .arrow {
            margin-top: 11px;
            display: inline-block;
            background-color: $yellow;
            background-repeat: no-repeat;
            height: 37px;
            width: 2px;
            @media (max-width: 1025px) {
              display: none;
            }
            }
            &:nth-of-type(7) {
              a {
                color: unset;
                margin-right: 5px;
                @media (max-width: 1025px) {
                  margin-right: 20px;
                  margin-left: 20px;
                }
              }
              .arrow {
                width: 0;
              }
              &:after{
                content: '/';
                font-size: 37px;
                position: absolute;
                top: 5%;
                color: $grey;
                @media (max-width: 1025px) {
                  display: none;
                }
              }
            }
            &:nth-of-type(8) {
              a {
                color: unset;
                margin-right: 5px;
                margin-left: 12px;
                @media (max-width: 1025px) {
                  margin-right: 20px;
                  margin-left: 20px;
                }
                
              }
              .arrow {
                width: 0;
              }
              &:after{
                content: '/';
                font-size: 37px;
                position: absolute;
                top: 5%;
                color: $grey;
                @media (max-width: 1025px) {
                  display: none;
                }
              }
            }
            &:nth-of-type(9) {
              a {
                color: unset;
                margin-right: 5px;
                margin-left: 12px;
                @media (max-width: 1025px) {
                  margin-right: 20px;
                  margin-left: 20px;
                }
              }
              .arrow {
                width: 0;
              }
            }
            &:last-of-type {
              .arrow {
                width: 0;
              }
            }

        }
      }

    }
  }
}
}

// end navbar 

// banner

#banner {
  position: relative;
  width: 100%;
  background-color: black;
  height: auto;
  overflow-x: hidden;
  overflow: hidden;
  // border-bottom: 60px solid $yellow;
  @media (max-width: 1025px) {
    border-bottom: none;
    width: 100%;
    height: 100vh;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    .container {
      min-width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
  #doberman-video {
    margin-top: 58px;
    position: relative;
    // max-width: 100%;
    width: auto;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
    overflow-x: hidden; //horizontal
    overflow-y: hidden; //vertical
    overflow: hidden;
    margin-bottom: -4px;
    @media (max-width: 1025px) {
      height: 100%;
    }
    @media (max-width: 415px) {
      margin-top: 58px;
      height: 100%;
      object-fit: cover;
      min-width: 100%;
    }
  }
  .info {
    .link-box {
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translate(-50%,-50%);
      width: 30%;
      @media (max-width: 1500px) {
        width: 40%;
      }
      @media (max-width: 1025px) {
        margin-top: 5%;
        margin-bottom: 150px;
        width: 80%;
        position: relative;
        top: unset;
        left: unset;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        flex: unset;
        transform: unset;
      }
      @media (max-width: 415px) {
        margin-top: 0;
        position: relative;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 150px;
        margin-top: 30px;
        // border: 2px dashed $yellow;
        padding: 15px;
      }
      @media (max-width: 321px) {
        margin: 20px;
        margin-bottom: 145px;
      }
  .title {
    font-family: 'Kaushan Script', cursive;
    font-size: 45px;
    color: $white;
    @media (max-width: 1500px) {
      font-size: 24px;
    }
    @media (max-width: 1025px) {
      font-size: 26px;
    }
    &:hover {
      text-decoration: none;
    }
  }  
  .desription {
      color: white;
      font-weight: 300;
      font-size: 22px;
      margin-right: auto;
      margin-top: 15px;
      cursor: pointer;
      @media (max-width: 1500px) {
        font-size: 20px;
      }
      @media (max-width: 1025px) {
        font-size: 18px;
        margin-top: 10px;
      }
      @media (max-width: 321px) {
        font-size: 14px;
        margin-top: 10px;
      }
    }
  .banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    width: 250px;
    padding: 20px;
    background-color: $yellow;
    font-weight: 300;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    color: $white;
    @media (max-width: 1025px) {
      margin-top: 20px;
      padding: 10px;
    }
    &:hover {
          background-color: $light-yellow;
      }
  }
  
}
  }
.arrow {
  .link-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
.ca3-scroll-down-arrow {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
	background-size: contain;
	background-repeat: no-repeat;
}
.ca3-scroll-down-link {
  cursor:pointer;
	height: 60px;
	width: 60px;
	margin: 0px 0 0 -25px;
	line-height: 60px;
	position: absolute;
	left: 50%;
	bottom: 20%;
	color: #FFF;
	text-align: center;
	font-size: 70px;
	z-index: 100;
	text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  margin-bottom: 100px;
  @media (max-width: 1025px) {
    margin-bottom: 20px;
  }
  @media (max-width: 415px) {
    left: 52%;
    margin-bottom: 80px;
    height: 30px;
    width: 30px;
  }
  @media (max-width: 321px) {
    margin-bottom: 110px;
  }

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}
/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}
}
}

}

  }
  
}

// 

// tytuł sekcji 

.section-title {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    .container {
      min-width: 100%;
      padding-left: 0;
      padding-right: 0;
      .row {
        display: block;
        margin-right: 0;
        margin-left: 0;
      .puppies-title-box {
        border-top: 3px solid $yellow;
        @media (max-width: 992px) {
          border-top: none;
          margin-top: -3px;
        }
        .puppies-title {
          font-family: 'Kaushan Script', cursive;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          z-index: 999;
          background-color: $black;
          text-align: center;
          padding: 20px;
          border-radius: 0 0 25px 25px;
          border: 4px solid $yellow;
          border-top: none;
          max-width: 300px;
          color: $yellow;
          font-size: 26px;
          @media (max-width: 992px) {
            padding: 12px;
            max-width: 200px;
            font-size: 24px;
          }
        }
      }
    }
    }
}
}

// end tytuł sekcji

// puppies

#puppies {
  display: inline;
  overflow-x: hidden;
  border-top: 3px solid $light-yellow;
  max-height: auto;
  padding-left: 0;
  padding-right: 0;
  .container {
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
    .puppies-photos {
      position: relative;
      background-color: $black;
      @media (max-width: 500px)  {
        padding-left: 0;
        padding-right: 0;
      }
      .overlay {
        background: linear-gradient(to bottom,rgba(0,0,0, 0), rgba(0,0,0, 100));
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 203;
      }
      .link-box {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        &:hover {
          .puppies-img {
            .img-box {
              .regular-img{
              transform: scale(1.1);
              }
            }
          }
        }

    .puppies-img {
      position: relative;
      min-width: 100%;
      padding-left: 0;
      padding-right: 0;
      // max-height: 600px;
      .img-box {
        height: 650px;
        position: relative;
        width: 100%;
        overflow: hidden;
        @media (max-width: 992px) {
          height: 450px;
          width: auto;
        }
        @media (max-width: 415px) {
          height: 450px;
          width: auto;
        }
        .regular-img {
          position: absolute;
          transform: scale(1);
          transition: transform 1s;
          // z-index: 1;
          min-width: 100%;
          img {    
            transform: scale(1);
            transition: transform 1s;
            &:hover {
              transition: transform 1s;
              transform: scale(1.1);
            }
            @media (max-width: 1500px) {
              max-height: auto;
            }
            @media (max-width: 992px) {
              max-height: auto;
            }
            @media (max-width: 321px) {
              max-height: auto;
              margin-top: 0;
            }
          }
        }

        &:hover {
          .puppies-img {
            .img-box {
              .horizontal-img{
              transform: scale(1.1);
              }
            }
          }
        }

        .horizontal-img {
          position: absolute;
          z-index: 200;
          height: 100%;
          width: 100%;
          transform: scale(1);
          transition: transform 1s;
          @media (max-width: 1600px) {
          &.fourofitems {
            display: none;
          }
        }
          img {
            // left:50%;
            // top: 50%;
            // transform: translate(-50%,-50%) scale(1);
            max-width: initial;
            position: absolute;
            height: auto;
            width: 100%;
            transition: transform 1s;
            // &:hover {
            //   transform: translate(-50%,-50%) scale(1.1);
            // }
            @media (max-width: 1900px) {
              height: 100%;
              width: auto;
            }
            @media (max-width: 1600px) {
              margin-left: -15%;
            }
            @media (max-width: 1450px) {
              display: none;
            }
            @media (max-width: 415px) {
              display: none;
            }
          }
        }
      }

      .pup-box {
        text-decoration: none;
        z-index: 2500;
        position: absolute;
        bottom: 20%;
        display: block;
        width: 100%;
        @media (max-width: 992px) {
          width: 100%;
          bottom: 12%;
          margin-left: auto;
          margin-right: auto;
        }
      }
      a {
      .pup-name {
        position: relative;
        font-size: 40px;
        color: $white;
        text-align: center;
      }
      &:hover {
        text-decoration: none;
      }
    }
      p {
        text-align: center;
        display: block;
        margin-right: auto;
        margin-left: auto; 
        font-size: 20px;
        text-align: center;
        color: $white;
        text-transform: uppercase;
      &.puppies_descr {
        position: relative;
        width: auto;
          }
      }
      .puppies_button {
        display: block;
        margin-top: 20px;
        position: relative;
        font-size: 25px;
        border: 2px solid $white;
        text-transform: uppercase;
        text-align: center; 
        color: $white;
        width: 200px;
        margin-right: auto;
        margin-left: auto; 
        cursor: pointer;
        &:hover {
          color: $black;
          background-color: $white;
        }
      }
    }
  }
    .owl-nav {
      .owl-prev, .owl-next{
        position: absolute;
        width: 40px;
        height: 60px;
        background-color: $black;
        border: 1px solid $yellow;
        color: $yellow;
      }
      .owl-prev {
        top: 50%;
        left: 3%;
        font-size: 32px;
        &:hover {
          background-color: $light-yellow;
          color: $black;
        }
      }
      .owl-next {
        top: 50%;
        right: 3%;
        font-size: 32px;
        &:hover {
          background-color: $light-yellow;
          color: $black;
        }
      }
    }
    }
}
}



// components
#components {
  font-family: 'BenchNine', sans-serif;
  background-color: $black;
            .component_1 {
              width: 100%;
              @media (max-width: 992px) {
                height: 600px;
              }
              @media (max-width: 415px) {
                height: 500px;
              }
              .container-fluid {
                padding-left: 0;
                padding-right: 0;
                .container {
                  min-width: 100%;
                  padding-left: 0;
                  padding-right: 0;
                  margin-left: 0;
                  margin-right: 0;
                  .component_1-image {
                  min-height: 100%;
                  position: relative;
                  opacity: 0.9;
                  @media (max-width: 992px) {
                    min-height: unset;
                    height: 610px;
                    max-width: 100%;
                  }
                  @media (max-width: 415px) {
                    min-height: unset;
                    height: 510px;
                    max-width: 100%;
                  }
                  .shadow {
                    background: linear-gradient(to bottom,rgba(0,0,0, 0), rgba(0,0,0, 100));
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 5;
                  }
                  .simpleParallax {
                    animation-name: fadein;
                    animation-duration: 1s;
                  }
                  @keyframes fadein {
                    from {opacity:0;}
                    to {opacity:1;}
                  }
                    img {
                      position: relative;
                      z-index: -2;
                      height: 100vh;
                      width: 100%;
                      object-fit: cover;
                        @media (max-width: 992px) { 
                          max-width: 100%;
                          min-width: 100%;
                          min-height: 100%;
                          object-fit: cover;
                          margin-top: 100px;
                          padding-bottom: 250px;
                          overflow: hidden;
                          margin-top: 5px;
                        }
                        @media (max-width: 415px) {
                          height: 500px;
                          width: auto;
                          object-position: -150px;
                          // width: 100%;
                          // margin-top: 0;
                          // height: 250px;
                          // transform: scale(1.05) !important;
                          max-width: unset;
                          min-width: unset;
                          min-height: unset;
                          object-fit: unset;
                          margin-top: unset;
                          padding-bottom: unset;
                          overflow: unset;
                          margin-top: unset;
                        }
                      }
                    
                  }
              .link-box {
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                @media (max-width: 992px) {
                  position: absolute;
                  max-width: 100%;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
                @media (max-width: 415px) {
                  position: absolute;
                  max-width: 100%;
                  top: 35%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              a {
                text-decoration: none;
              &.component_1-title{
                color: $white;
                font-size: 36px;
                text-transform: uppercase;
              }
            }
              .component_1-text {
                font-size: 18px;
                text-transform: uppercase;
                color: $yellow;
                cursor: pointer;
              }
              .component_1-button {
                position: absolute;  
                display: block;
                top: 150%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 26px;
                width: 200px;
                background-color: $yellow;
                text-transform: uppercase;
                padding: 10px;
                text-align: center;
                color: $white;
                cursor: pointer;
                @media (max-width: 992px) {
                  padding: 10px;
                  margin-left: auto;
                  margin-right: auto;
                }
                &:hover {
                  background-color: $light-yellow;
                }
                @media (max-width: 415px) {
                  top: 135%;
                }
              }
            }
          }
        }
      }

      .component_2 {
        // margin-top: -3px;
        // min-width: 100%;
        // min-height: auto;
        height: 100vh;
        @media (max-width: 992px) {
          height: unset;
        }
        .container-fluid {
          padding-left: 0;
          padding-right: 0;
          .container {
            min-width: 100%;
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
        .comp2-left-area {
          background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url("../img/dark_background.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          background-color: $black;
          @media (max-width: 992px) {
            min-height: 400px;
          }
          @media (max-width: 415px) {
            min-height: 500px;
          }
        .link-box {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          // margin-top: 35%;
          margin-left: auto;
          margin-right: auto;
          width: 80%;
          text-align: center;
          position: absolute;
          color: $white;
          @media (max-width: 992px) {
            width: 80%;
            top: 55%;
          }
          @media (max-width: 992px) {
            width: 80%;
            top: 45%;
          }
          a {
            color: $white;
            text-decoration: none;
            &.component_2-title {
              text-align: center;
              font-size: 36px;
              text-transform: uppercase;
            }
          }
          .component_2-text {
            font-size: 18px;
            text-transform: uppercase;
            color: $yellow;
            margin-bottom: 20px;
            cursor: pointer;
          }
          .component_2-button { 
            display: block;
            font-size: 26px;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            color: $white;
            background-color: $yellow;
            text-transform: uppercase;
            padding: 10px;
            text-align: center;
            cursor: pointer;
            @media (max-width: 992px) {
              margin-left: auto;
              margin-right: auto;
            }
            &:hover {
              background-color: $light-yellow;
            }
          }
        
        }
      }
      .comp2-right-area {
        padding-left: 0;
        padding-right: 0;
        text-align: right;
        .component_2-image {
          border-left: 3px solid $yellow;
          @media (max-width: 992px) {
            margin-top: 3px;
            border-left: none;
          }
          @media (max-width: 720px) {
            display: none;
          }
          img {
          // min-width: 100%;
          height: 100vh;
          min-width: 100%; 
          object-position: center;
          object-fit: cover;      
          @media (max-width: 992px) {
            max-width: 100%;
            height: auto;
            }   
          }
        }
        .component_2-image_mobile {
          border-left: 3px solid $yellow;
          @media (max-width: 992px) {
            margin-top: 3px;
            border-left: none;
          }
          @media (max-width: 720px) {
            display: block;
          }
          @media (min-width: 721px) {
            display: none;
          }
          img {
          // min-width: 100%;
          height: 100vh;
          min-width: 100%; 
          object-position: center;
          object-fit: cover;      
          @media (max-width: 992px) {
            max-width: 100%;
            height: auto;
            }   
          }
        }
      }
    }
  }
    }
    #dobermans {
      display: inline;
      overflow-x: hidden;
      border-top: 3px solid $light-yellow;
      max-height: auto;
      padding-left: 0;
      padding-right: 0;
      .container {
        min-width: 100%;
        padding-left: 0;
        padding-right: 0;
        .dobermans-photos {
          position: relative;
          background-color: $black;
          @media (max-width: 500px)  {
            padding-left: 0;
            padding-right: 0;
          }
          .overlay {
            background: linear-gradient(to bottom,rgba(0,0,0, 0), rgba(0,0,0, 100));
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 203;
          }
          .link-box {
            display: block;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
            &:hover {
              .dobermans-img {
                .img-box {
                  .regular-img, .horizontal-img{
                  transform: scale(1.1);
                  }
                }
              }
            }


        .dobermans-img {
          position: relative;
          min-width: 100%;
          padding-left: 0;
          padding-right: 0;
          max-height: 600px;
          .img-box {
            height: 550px;
            position: relative;
            width: 100%;
            overflow: hidden;
            @media (max-width: 992px) {
              height: 500px;
              width: auto;
            }
            @media (max-width: 415px) {
              height: 450px;
              width: auto;
            }
            .regular-img {
              position: absolute;
              transform: scale(1);
              transition: transform 1s;
              // z-index: 1;
              min-width: 100%;
              // opacity: 0.6;
              img {    
                // margin-top: -15%;
                transform: scale(1);
                transition: transform 1s;
                &:hover {
                  transition: transform 1s;
                  transform: scale(1.1);
                }
                @media (max-width: 992px) {
                  max-height: auto;
                }
                @media (max-width: 415px) {
                  margin-top: unset;
                }
                @media (max-width: 321px) {
                  max-height: auto;
                  margin-top: 0;
                }
              }
            }

            &:hover {
              .dobermans-img {
                .img-box {
                  .horizontal-img{
                  transform: scale(1.1);
                  }
                }
              }
            }

            .horizontal-img {
              position: absolute;
              z-index: 200;
              height: 100%;
              width: 100%;
              transform: scale(1);
              transition: transform 1s;
              @media (max-width: 1600px) {
              &.fourofitems {
                display: none;
              }
            }
              img {
                // left:50%;
                // top: 50%;
                // transform: translate(-50%,-50%) scale(1);
                max-width: initial;
                position: absolute;
                height: auto;
                width: 100%;
                transform: scale(1);
                transition: transform 1s;
                // &:hover {
                //   transform: translate(-50%,-50%) scale(1.1);
                // }
                @media (max-width: 1900px) {
                  height: 100%;
                  width: auto;
                }
                @media (max-width: 1600px) {
                  margin-left: -15%;
                }
                @media (max-width: 1450px) {
                  display: none;
                }
                @media (max-width: 415px) {
                  display: none;
                }
              }
            }
          }
          .dobermans-box {
            text-decoration: none;
            z-index: 2500;
            position: absolute;
            bottom: 20%;
            display: block;
            width: 100%;
            @media (max-width: 992px) {
              width: 100%;
              bottom: 12%;
              margin-left: auto;
              margin-right: auto;
            }
          }
          a {
          .dobermans-name {
            position: relative;
            font-size: 40px;
            color: $white;
            text-align: center;
          }
          &:hover {
            text-decoration: none;
          }
        }
          p {
            text-align: center;
            display: block;
            margin-right: auto;
            margin-left: auto; 
            font-size: 20px;
            text-align: center;
            color: $white;
            text-transform: uppercase;
          &.dobermans_descr {
            position: relative;
            width: auto;
            @media (max-width: 992px) {
              width: 70%;
            }
              }
          }
          .dobermans_button {
            display: block;
            margin-top: 20px;
            position: relative;
            font-size: 25px;
            border: 2px solid $white;
            text-transform: uppercase;
            text-align: center; 
            color: $white;
            width: 200px;
            margin-right: auto;
            margin-left: auto; 
            cursor: pointer;
            &:hover {
              color: $black;
              background-color: $white;
            }
          }
        }
      }
        .owl-nav {
          .owl-prev, .owl-next{
            position: absolute;
            width: 40px;
            height: 60px;
            background-color: $black;
            border: 1px solid $yellow;
            color: $yellow;
          }
          .owl-prev {
            top: 50%;
            left: 3%;
            font-size: 32px;
            &:hover {
              background-color: $light-yellow;
              color: $black;
            }
          }
          .owl-next {
            top: 50%;
            right: 3%;
            font-size: 32px;
            &:hover {
              background-color: $light-yellow;
              color: $black;
            }
          }
        }
        }
    }
    }



    .component_3a {
      max-height: 100%;
      // margin-bottom: 15px;
      @media (max-width: 992px) {
        margin-bottom: 0;
      }
      .container-fluid {
        padding-left: 0;
        padding-right: 0;
        .container {
          min-width: 100%;
          padding-left: 0;
          padding-right: 0;
          margin-left: 0;
          margin-right: 0;
          .img_left {
            padding-left: 0;
            padding-right: 0;
            img {
              width: 100%;
              height: auto;
            }
          }
          .text_area {
            background-color: $light-grey-background;
            color: $black;
            position: relative;
            @media (max-width: 992px) {
              height: 100%;
            }
            .textbox {
              position: absolute;
              top: 50%;
              left: 10%;
              transform: translate(0,-50%);
              width: 80%;
              @media (max-width: 992px) {
                position: relative;
                margin-top: 5%;
                margin-bottom: 5%;
                width: 80%;
                transform: translate(0,0);
              }
            .title {
              font-size: 36px;
              margin-bottom: 10px;
              text-transform: uppercase;
              @media (max-width: 1025px) {
                font-size: 30px;
              }
            }
            h3 {
              font-size: 26px;
              font-weight: bold;
            }
            .desription {
              font-size: 20px;
              @media (max-width: 992px) {
                font-size: 16px;
              }
            }
            p {
              font-size: 18px;
              @media (max-width: 1025px) {
                font-size: 14px;
              }
            }
          }
          }
        }
      }
    }

    //transport components

    .transport_textarea_title {
      .container-fluid {
        padding-left: 0;
        padding-right: 0;
        .container {
          min-width: 100%;
          padding-left: 0;
          padding-right: 0;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }


    }

    #psy {
      .puppies-title {
        @media (max-width: 992px) {
          margin-top: 3px;
        }
      }
    }
// }


// end dogs

// puppies page

.img-banner {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    .container {
      min-width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      position: relative;
      .desktop {
        @media (max-width: 992px) {
          display: none;
        }
      }
      .mobile {
        @media (min-width: 992px) {
          display: none;
        }
      }
    }

    .img-banner-background {
      margin-top: 58px;
      position: relative;
      opacity: 0.9;
      overflow: hidden;
      @media (max-width: 992px) {
        width: auto;
      }
      .pix {
        position: relative;
        width: 100%;
      }
      img {
        position: absolute;
        height: calc(100vh-58px);
        min-width: 100%;
        object-fit: cover;
        width: unset;
        max-width: unset;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (max-width: 992px) {
          position: absolute;
          height: calc(100vh-58px);
          width: unset;
          max-width: unset;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .title {
        font-family: 'Kaushan Script', cursive;
        color: $white;
        position: absolute;
        top: 45%;
        left: 23%;
        z-index: 999;
        // text-transform: uppercase;
        font-size: 70px;
        font-weight: bold;
        width: 300px;
        line-height: 1;
        transform: translate(-50%, -50%);  
        @media (max-width: 1500px) {
          max-width: 300px;
          line-height: 1;
          left: 19%;
          top: 45%;
          transform: translate(-50%, -50%);  
        }
        @media (max-width: 992px) {
          width: 400px;
          font-size: 60px;
          line-height: 1;
          left: 22%;
          top: 75%;
          transform: translate(-50%, -50%); 
        }
        @media (max-width: 700px) {
          width: 200px;
          left: 30%;
          top: 75%;
          transform: translate(-50%, -50%); 
        }
        @media (max-width: 415px) {
          left: 35%;
          text-align: left;
          font-size: 35px;
        }
      }
    }
    .arrow {
      .link-box {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    .ca3-scroll-down-arrow {
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
      background-size: contain;
      background-repeat: no-repeat;
    }
    .ca3-scroll-down-link {
      cursor:pointer;
      height: 60px;
      width: 60px;
      margin: 0px 0 0 -25px;
      line-height: 60px;
      position: absolute;
      left: 50%;
      bottom: 20%;
      color: #FFF;
      text-align: center;
      font-size: 70px;
      z-index: 100;
      text-decoration: none;
      text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
      margin-bottom: 100px;
      @media (max-width: 1025px) {
        margin-bottom: 80px;
      }
      @media (max-width: 415px) {
        left: 52%;
        margin-bottom: 80px;
        height: 30px;
        width: 30px;
      }
      @media (max-width: 321px) {
        margin-bottom: 40px;
      }
    
      -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
      -moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
      animation:         ca3_fade_move_down 2s ease-in-out infinite;
    }
    /*animated scroll arrow animation*/
    @-webkit-keyframes ca3_fade_move_down {
      0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
      50%  { opacity: 1;  }
      100% { -webkit-transform:translate(0,20px); opacity: 0; }
    }
    @-moz-keyframes ca3_fade_move_down {
      0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
      50%  { opacity: 1;  }
      100% { -moz-transform:translate(0,20px); opacity: 0; }
    }
    @keyframes ca3_fade_move_down {
      0%   { transform:translate(0,-20px); opacity: 0;  }
      50%  { opacity: 1;  }
      100% { transform:translate(0,20px); opacity: 0; }
    }
    }
    }
  }
  #scrolldown {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}



.hotel {
  position: relative;
  @media (max-width: 992px) {
    margin-bottom: 0;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    .container {
      min-width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      .open_soon {
        z-index: 500;
        position: absolute;
        left: 52%;
        top: 50%;
        transform: translate(-50%, -50%);
        @media (max-width: 1425px) {
          width: 200px;
          left: 52%;
          top: 20%;
          transform: translate(-50%, 0);
        }
        @media (max-width: 992px) {
          width: 200px;
          top: 45%;
          transform: none;
          left: 55%;
        }
        @media (max-width: 415px) {
          width: 150px;
          top: 42%;
          left: 55%;
        }
        img {
          // @media (max-width: 992px) {
          //   height: 100%;
          //   // width: auto;
          // }
          @media (max-width: 1425px) {
            height: 50%;
          }
        }
        .opensoon_text {
          width: 150px;
          text-align: center;
          font-size: 30px;
          color: $white;
          text-transform: uppercase;
          z-index: 510;
          position: absolute;
          left: 41%;
          top: 30%;
          transform: translate(-50%, 0);
          // @media (max-width: 992px) {
          //   font-size: 11px;
          //   width: 60px;
          //   left: 56%;
          // }
          @media (max-width: 1425px) {
            font-size: 20px;
            width: 100px;
            left: 40%;
            top: 25%;
          }
          @media (max-width: 415px) {
            font-size: 8px;
            width: 40px;
            left: 40%;
          }
        }
      }
      
      .img_left {
        // min-height: 100%;
        // width: 100%;
        padding-left: 0;
        padding-right: 0;
        img {
          // min-height: 100%;
          height: 100vh;
          min-width: 100%;
          width: unset;
          max-width: unset;
          object-position: center;
          object-fit: cover;
          // min-height: 900px;
          // min-width: 100%;
          // width: unset;
          @media (max-width: 1425px) {
            // object-position: -120px;
            width: 100%;
          }
          @media (max-width: 992px) {
            object-position: center;
            height: 100%;
            width: auto;
          }
        }
      }
      .text_area {
        background-image: url("../img/gold_background.jpg"); 
        background-repeat: no-repeat;
        background-size: cover;
        color: $black;
        position: relative;
        @media (max-width: 992px) {
          height: 500px;
        }
        @media (max-width: 415px) {
          height: 360px;
        }
        .textbox {
          position: absolute;
          max-width: 100%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          @media (max-width: 992px) {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
          }
        .title {
          text-align: center;
          font-size: 36px;
          margin-bottom: 10px;
          text-transform: uppercase;
        }
        .desription {
          text-transform: uppercase;
          text-align: center;
          font-size: 20px;
          @media (max-width: 992px) {
            font-size: 18px;
          }
        }
      }
      }
    }
  }
}

.sklep {
  position: relative;
  @media (max-width: 992px) {
    margin-bottom: 0;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    .container {
      min-width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      .open_soon {
        z-index: 500;
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%, -50%);
        @media (max-width: 1425px) {
          width: 200px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        @media (max-width: 992px) {
          left: 18%;
          width: 200px;
          transform: none;
          top: 35%;
        }
        @media (max-width: 415px) {
          width: 150px;
          top: 40%;
        }
        img {
          // @media (max-width: 992px) {
          //   height: 100%;
          // }
          @media (max-width: 1425px) {
            height: 20%;
          }
        }
        .opensoon_text {
          width: 150px;
          text-align: center;
          font-size: 30px;
          color: $white;
          text-transform: uppercase;
          z-index: 510;
          position: absolute;
          left: 41%;
          top: 30%;
          transform: translate(-50%, 0);
          // @media (max-width: 992px) {
          //   font-size: 11px;
          //   width: 60px;
          //   left: 56%;
          // }
          @media (max-width: 1425px) {
            font-size: 20px;
            width: 100px;
            left: 40%;
            top: 25%;
          }
          @media (max-width: 415px) {
            font-size: 8px;
            width: 40px;
            left: 40%;
          }
        }
      }
      
      .img_right {
        // width: 100%;
        padding-left: 0;
        padding-right: 0;
        img {
          // width: 100%;
          height: 100vh;
          min-width: 100%;
          width: unset;
          max-width: unset;
          object-position: center;
          object-fit: cover;
          @media (max-width: 1425px) {
            // object-position: -120px;
            // height: 100%;
            // width: auto;
            width: 100%;
            object-position: left;
          }
          @media (max-width: 992px) {
            object-position: 0;
            height: 100%;
            width: auto;
          }
        }
      }
      .text_area {
        background-color: $black; 
        color: $white;
        position: relative;
        @media (max-width: 992px) {
          height: 500px;
        }
        @media (max-width: 415px) {
          height: 360px;
        }
        .textbox {
          position: absolute;
          max-width: 100%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          @media (max-width: 992px) {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
          }
        .title {
          text-align: center;
          font-size: 36px;
          margin-bottom: 10px;
          text-transform: uppercase;
        }
        .desription {
          text-transform: uppercase;
          text-align: center;
          font-size: 20px;
          @media (max-width: 992px) {
            font-size: 18px;
          }
        }
      }
      }
    }
  }
}

// #o-nas {
//   margin-bottom: 30px;
// }

.aboutus {
  position: relative;
  @media (max-width: 992px) {
    margin-bottom: 0;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    .container {
      min-width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      .background {
        min-width: 100%;
        min-height: 100%;
        position: relative;
        opacity: 0.9;
        @media (max-width: 992px) {
          min-height: unset;
          height: auto;
        }
        img {
          min-width: 100%;
          height: auto;
          @media (max-width: 992px) {
            min-width: 100%;
            min-height: 100%;
            margin-left: 50px;
          }
          @media (max-width: 415px) { 
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            width: auto;
            height: 500px;
            object-position: 28%;
            margin-left: 0;
          }
        }
      }
        .textbox {
          z-index: 5000;
          color: $white;
          position: absolute;
          width: 45%;
          left: 50%;
          top: 25%;
          transform: translate(-50%, 0);
          @media (max-width: 1225px) {
            width: 80%;
            top: 25%;
          }
        .desription {
          text-transform: uppercase;
          text-align: center;
          font-size: 24px;
          line-height: 1.8;
          @media (max-width: 992px) {
            font-size: 16px;
          }
        }
        a {
          font-size: 26px;
          color: $white;
          text-decoration: none;
        .button_text {
          position: relative;  
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 40px;
          text-align: center;
          width: 300px;
          padding: 15px 60px 15px 60px;
          text-transform: uppercase;
          background-color: $yellow;
          cursor: pointer;
          @media (max-width: 992px) {
            width: 200px;
            margin-top: 20px;
            font-size: 18px;
            padding: 10px;
            font-size: 26px;
          }
          @media (max-width: 415px) {
            width: 200px;
            margin-top: 40px;
            font-size: 18px;
            padding: 10px;
            font-size: 26px;
          }
          &:hover {
            background-color: $light-yellow;
          }
        }
      }
      }
      }
    }
  }



  .whatwedo {
    display: block;
    border-top: 3px solid $yellow;
    position: relative;
    @media (max-width: 992px) {
      margin-bottom: 0;
    }
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
      .container {
        min-width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        @media (max-width: 992px) {
          height: 100%;
        }
        .background {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          // height: 4000px;
          position: relative;
          opacity: 0.9;
          @media (max-width: 992px) {
            background-image: none !important;
            // min-height: 7111px;
          }
          .textbox {
            position: relative;
            min-height: 100%;
            width: 65%;
            left: 50%;
            transform: translate(-50%, 0);
            @media (max-width: 992px) {
              min-width: 100%;
            }
            .title {
              margin-top: 8%;
              margin-bottom: 8%;
              font-size: 30px;
              text-align: center;
              color: $yellow;
              text-transform: uppercase;
              @media (max-width: 992px) {
                margin-top: 100px;
                margin-bottom: 0;
              }
              @media (max-width: 415px) {
                margin-top: 70px;
                margin-bottom: 0;
              }
            }
            .whatwedo_box {
              margin-top: 100px;
              max-width: 700px;
              margin-left: auto;
              margin-right: auto;
              position: relative;
              @media (max-width: 992px) {
                margin-top: 60px;
                min-width: 100%;
                padding-left: 0;
                padding-right: 0;
                border: 1px solid $yellow;
              }
              .box_title {
                font-size: 22px;
                background-color: $black;
                text-align: center;
                color: $yellow;
                text-transform: uppercase;
                padding: 10px;
                padding-top: 20px;
                padding-bottom: 20px;
              }
              .box_image {
                text-align: center;
                img {
                  min-width: 100%;
                }
              }
              .box_description {
                // max-height: 500px;
                // text-transform: uppercase;
                padding: 10%;
                font-size: 20px;
                color: $white;
                text-align: center;
                background-color: $black;
                opacity: 0.9;
                @media (max-width: 992px) {
                  max-height: inherit;
                }
                .box_link {
                  margin-top: 100px;
                  a, a:visited {
                    color: $yellow;
                  }
                  @media (max-width: 992px) {
                    margin-top: 40px;
                  }
                }
              }
            }
        }
      }
        }
      }
    }
  


    .circles {
      display: block;
      position: relative;
      @media (max-width: 992px) {
        margin-bottom: 0;
      }
      .container-fluid {
        padding-left: 0;
        padding-right: 0;
        .container {
          min-width: 100%;
          padding-left: 0;
          padding-right: 0;
          margin-left: 0;
          margin-right: 0;
          .title {
            margin-top: 4%;
            margin-bottom: 4%;
            font-size: 26px;
            text-align: center;
            color: $white;
            text-transform: uppercase;
          }
          .circle_area {
            margin-left: auto;
            margin-right: auto;
            max-width: 50%;
            text-align: center;
            padding-bottom: 4%;
            @media (max-width: 1025px) {
              max-width: 80%;
            }
            @media (max-width: 415px) {
              max-width: 100%;
            }
            .circle_content {
              margin: 20px;
              position: relative;
              display: inline-block;
              background-color: $yellow;
              color: $white;
              border-radius: 50%;
              max-width: 250px;
              height: 250px;
              @media (max-width: 992px) {
                margin: 5px;
                max-width: 150px;
                height: 150px;
              }
              p {
                width: 160px;
                font-size: 24px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @media (max-width: 992px) {
                  font-size: 16px;
                  width: 100px;
                }
                .black_no {
                  font-weight: 700;
                  text-transform: uppercase;
                  color: $black;
                }
              }
            }
          }
          }
        }
      }


.textarea {
      .description {
      @media (max-width: 992px) {
        max-height: 900px;
      }
      p {
        // text-transform: uppercase;
        width: 85%;
        text-align: center;
        color: $white;
        font-size: 28px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8%;
        margin-bottom: 8%;
        @media (max-width: 992px) {
          font-size: 22px;
          width: 95%;
          margin-top: 25%;
          margin-bottom: 25%;
        }
      }
  }
}

.component_4 {
  position: relative;
  margin-bottom: 10%; 
  @media (max-width: 1300px) {
    margin-bottom: 30%;
  } 
  @media (max-width: 1025px) {
    margin-bottom: 10%; 
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    .container {
      min-width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      .dogimage {
        position: relative;
        width: 50%;
        @media (max-width: 1025px) {
          width: 100%;
        }
        img {
          height: auto;
          @media (max-width: 1025px) {
            height: auto;
          }
        }
        .title {
          z-index: 800;
          width: 65%;
          position: absolute;
          
          color: $white;
          top: 60%;
          left: 19%;
          text-transform: uppercase;
          padding-bottom: 20px;
          border-bottom: 3px solid $white;
          @media (max-width: 1025px) {
            top: 20%;
            text-align: center;
            width: 75%;
            left: 10%;
            border-bottom: none;
          }
          @media (max-width: 992px) {
            top: 20%;
            }
          @media (max-width: 615px) {
            top: 20%;
            }
          @media (max-width: 415px) {
            top: 10%;
            }
          p {
            font-size: 34px;
            // @media (max-width: 1025px) {
            //   font-size: 38px;
            // }
            @media (max-width: 615px) {
              font-size: 22px;
            }
          }
        }
        .opis {
          // opacity: 0.8;
          width: 100%;
          // position: relative;
          position: absolute;
          top: 27%;
          left: 83%;
          // margin-left: 83%;
          // margin-top: -65%;
          background-color: $yellow_opacity;
          padding: 70px;
          @media (max-width: 1025px) {
            width: 90%;
            position: relative;
            top: unset;
            left: unset;
            // left: 5%;
            // top: 75%;
            margin-top: 5%;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            text-align: center;
            padding-top: 30px;
          }
          p {
            font-size: 26px;
            // text-transform: uppercase;
            color: $black;
            margin-bottom: 30px;
          }
        }
      }
    }
    }
  }



  .component_5 {
    margin-top: 10px;
    position: relative;
    min-height: 100%;
    @media (max-width: 992px) {
      min-height: 700px;
      }
      @media (max-width: 415px) {
        min-height: 800px;
        }
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
      .container {
        min-width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        .component_5_img {
          position: relative;
          width: 100%;
          height: 100%;
          img {
            height: auto;
            @media (max-width: 992px) {
              height: auto;
            }
          }
          .opis {
            text-align: center;
            padding: 60px;
            background-color: $yellow;
            opacity: 0.8;
            z-index: 800;
            width: 55%;
            // position: absolute;
            font-size: 26px;
            color: $black;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2%;
            // top: 95%;
            // left: 50%;
            // transform: translate(-50%, 0);
            // text-transform: uppercase;
            @media (max-width: 992px) {
              width: 90%;
              // left: 5%;
              // top: 75%;
              margin-top: 5%;
              padding: 10px;
              text-align: center;
              padding-top: 30px;
              transform: none;
            }
            p {
              margin-bottom: 30px;
            }
          }
        }
      }
      }
    }


    .textarea_2p {
      height: 100%;
      position: relative;
      margin-top: 15%;
      margin-bottom: 15%;
      .container-fluid {
        .container {
          .description_box {
            position: relative;
          .description {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            @media (max-width: 992px) {
              width: 90%;
            }
          p {
            // text-transform: uppercase;
            text-align: center;
            font-size: 28px;
            color: $white;
            margin-bottom: 50px;
            @media (max-width: 992px) {
              font-size: 22px;
            }
          }
        }
        }
      }
      }
    }


    .big_img {
      min-height: 100%;
      position: relative;
      opacity: 0.9;
      @media (max-width: 992px) {
        min-height: unset;
        height: 300px;
      }
      .simpleParallax {
        animation-name: fadein;
        animation-duration: 1s;
          img {
            // max-width: unset;
            @media (max-width: 1600px) {
              height: auto;
            }
            @media (max-width: 992px) { 
              min-width: 100%;
              min-height: 100%;
              object-fit: cover;
              object-position: 60%;
              height: 350px;
              margin-left: 50px;
              max-height: 350px;
            }
          }
        }
      .container-fluid {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        .container {
          min-width: 100%;
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          padding-right: 0;
  
        }
      }
    }
    

    .doberman_lines {
      @media (max-width: 992px) {
      }
      @media (max-width: 415px) {
      }
      .container-fluid {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        .container {
          min-width: 100%;
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          padding-right: 0;
          .main_title_box {
            min-width: 100%;
            height: 200px;
            position: relative;
          .main_title {
            color: $white;
            font-size: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media (max-width: 992px) {
              margin-top: 100px;
              width: 90%;
              text-align: center;
            }
          }
        }
        .img_box {
          margin-left: auto;
          margin-right: auto;
          @media (max-width: 992px) {
            max-width: 100%;
          }
          .line_box {
            position: relative;
            width: 100%;
            @media (max-width: 992px) {
              margin-top: 100px;
              margin-bottom: 100px;
              text-align: center;
            }
            img {
              margin-left: auto;
              margin-right: auto;
              @media (max-width: 992px) {
                height: auto;
                margin-left: auto;
                margin-right: auto;
              }
            }
 
            .line_title {
              font-size: 22px;
              color: $yellow;
              position: absolute;
              left: 50%;
              transform: translate(-50%, -50%);
              padding: 20px 30px 20px 30px;
              border: 1px solid $yellow;
              background-color: $black;
              text-transform: uppercase;
              @media (max-width: 992px) {
                width: 40%;
                text-align: center;
              }
              @media (max-width: 415px) {
                width: 60%;
                text-align: center;
              }
            }
          }
        }

            .line_description {
              margin-left: auto;
              margin-right: auto;
              margin-top: 100px;
              color: $white;
              text-transform: uppercase;
              position: relative;
              font-size: 22px;
              text-align: center;
              width: 60%;
              @media (max-width: 992px) {
                margin-top: 0;
                margin-bottom: 50px;
              }
              @media (max-width: 415px) {
                margin-top: 0;
                margin-bottom: 50px;
              }
            }
      }
    }
    }

    .component_6 {
      @media (max-width: 1370px) {
        margin-top: 100px;
        // margin-bottom: 100px;
        }
      .container-fluid {
        padding-left: 0;
        padding-right: 0;
        .container {
          min-width: 100%;
          padding-left: 0;
          padding-right: 0;
          margin-left: 0;
          margin-right: 0;
          .component_6_img {
            position: relative;
            width: 100%;
            z-index: 1;
            padding-bottom: 400px;
            @media (max-width: 1370px) {
              width: 100%;
              height: 100%;
              padding-bottom: 50px;
            }
            .yellow_background {
              position: absolute;
              z-index: 2;
              top: 10%;
              left: 20%;
              width: 60%;
              height: 80%;
              background-color:  rgba(175, 148, 94, 0.5);
              @media (max-width: 1370px) {
                width: 100%;
                top: 0;
                left: 0;
                height: 100%;
              }
            }
            .title {
              position: relative;
              width: 45%;
              z-index: 3;
              text-align: center;
              font-size: 22px;
              margin-left: auto;
              margin-right: auto;
              margin-top: 300px;
              margin-bottom: 50px;
              color: $white;
              text-transform: uppercase;
              @media (max-width: 1370px) {
                margin-top: 30px;
                width: 90%;
              }
            }
            .race_1 {
              position: relative;
              @media (max-width: 1370px) {
                position: relative;
              }
              img {
                @media (max-width: 1370px) {
                  height: auto;
                }
              }
              .race_img_1 {
                position: relative;
                z-index: 3;
                margin-left: 25%;
                @media (max-width: 1370px) {
                  margin-left: auto;
                  margin-right: auto;
                }
              }
              .descr_race_1 {
                position: absolute;
                width: 33%;
                z-index: 3;
                color: $white;
                background-color: $black;
                font-size: 22px;
                // text-transform: uppercase;
                padding: 30px;
                text-align: right;
                border-right: 3px solid $yellow_lighter;
                top: 10%;
                right: 20%;
                // transform: translate(0, -50%);
                @media (max-width: 1600px) {
                  font-size: 18px;
                  width: 28%;
                  top: 10%;
                  right: 20%;
                  // transform: translate(0, -50%);
                }
                @media (max-width: 1370px) {
                  font-size: 20px;
                  margin-top: -20px;
                  text-align: center;
                  width: 90%;
                  border-right: none;
                  position: relative;
                  left: 0;
                  margin-left: auto;
                  margin-right: auto;
                }
              }
            }

            .race_2 {
              margin-top: 50px;
              position: relative;
              img {
                @media (max-width: 1370px) {
                  height: auto;
                }
              }
              .race_img_2 {
                position: relative;
                z-index: 3;
                margin-left: 50%;
                @media (max-width: 1600px) {
                  margin-left: 47%;
                }
                @media (max-width: 1370px) {
                  margin-left: auto;
                  margin-right: auto;
                }
              }
              .descr_race_2 {
                position: absolute;
                width: 32%;
                z-index: 3;
                color: $white;
                background-color: $black;
                font-size: 22px;
                // text-transform: uppercase;
                padding: 30px;
                text-align: left;
                border-left: 3px solid $yellow_lighter;
                top: 20%;
                left: 20%;
                // transform: translate(0, -50%);
                @media (max-width: 1600px) {
                  font-size: 18px;
                  width: 29%;
                  top: 15%;
                  right: 20%;
                  // transform: translate(0, -50%);
                }
                @media (max-width: 1370px) {
                  font-size: 20px;
                  margin-top: -1px;
                  text-align: center;
                  width: 90%;
                  border-left: none;
                  position: relative;
                  left: 0;
                  margin-left: auto;
                  margin-right: auto;
                }
              }
            }

            .race_3 {
              position: relative;
              .race_img_3 {
                position: relative;
                z-index: 3;
                margin-left: 25%;
                margin-top: 50px;
                @media (max-width: 1370px) {
                  max-width: unset;
                  // width: 100%;
                  height: auto;
                  object-position: 50%;
                  margin-left: auto;
                  margin-right: auto;
                }
                @media (max-width: 992px) {
                  width: 100%;
                }
              }
              .descr_race_3 {
                position: absolute;
                width: 28%;
                z-index: 3;
                color: $white;
                background-color: $black;
                font-size: 22px;
                // text-transform: uppercase;
                padding: 30px;
                text-align: right;
                border-right: 3px solid $yellow_lighter;
                top: 30%;
                right: 20%;
                // transform: translate(0, -50%);
                @media (max-width: 1600px) {
                  font-size: 18px;
                  width: 21%;
                  top: 25%;
                  right: 20%;
                  // transform: translate(0, -50%);
                }
                @media (max-width: 1370px) {
                  font-size: 20px;
                  margin-top: -20px;
                  text-align: center;
                  width: 90%;
                  border-right: none;
                  position: relative;
                  left: 0;
                  margin-left: auto;
                  margin-right: auto;
                }
              }
            }
            }
          }
        }
        }

// end puppies page

// gallery 

.gallery {
  background-color: $black;
  .container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    .container {
      min-width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      .row {
        display: block;
        .title {
          font-family: 'Kaushan Script', cursive;
          color: $yellow;
          font-size: 25px;
          text-align: center;
          padding: 20px;
        }
      }
    }
  }
}
//  

.video_gallery {
  background-color: $black;
.container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  .container {
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    .title {
      font-family: 'Kaushan Script', cursive;
      color: $yellow;
      font-size: 25px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
    }
    .video_file_box {
      min-width: 500px;
      min-height: 500px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
      @media (max-width: 992px) {
        max-width: 100%;
        min-width: unset;
        min-height: 300px;
        padding-left: 0;
        padding-right: 0;
      }
      video {
        width: 100%;
        height: 100%;
      }
    }
  }
}
}

.under_construction {
  margin-top: 58px;
  background-color: $black;
.container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  .container {
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    .opensoon {
      height: 700px;
      position: relative;
      background-image: url("../img/dog_aboutus.jpg"); 
      background-repeat: no-repeat;
      background-size: cover;
      @media (max-width: 992px) {
        background-position: 25%;
      }
      @media (max-width: 415px) {
        background-position: 25%;
      }
    .opensoon_img {
      position: absolute;
      top: 62%;
      left: 67%;
      z-index: 900;
      transform: translate(-50%,-50%);
      img {
        width: 200px;
        height: auto;
      }
      @media (max-width: 992px) {
        top: 65%;
        left: 75%;
        z-index: 5000;
        img {
          width: 150px;
          height: auto;
        }
      }
      @media (max-width: 415px) {
        top: 65%;
        left: 75%;
        z-index: 5000;
        img {
          width: 150px;
          height: auto;
        }
      }
    .opensoon_text {
      color: $white;
      width: 150px;
      font-size: 30px;
      text-transform: uppercase;
      position: absolute;
      top: 44%;
      left: 55%;
      transform: translate(-50%,-50%);
      @media (max-width: 992px) {
        width: 100px;
        font-size: 24px;
        left: 50%;
      }
      @media (max-width: 415px) {
        width: 50px;
        font-size: 14px;
        left: 45%;
      }
    }
  }
  .text {
    border: 1px solid $yellow;
    padding: 15px;
    background-color: $yellow_opacity;
    color: $white;
    position: absolute;
    font-size: 46px;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    @media (max-width: 992px) {
      top: 73%;
      font-size: 34px;
      text-align: center;
    }
    @media (max-width: 415px) {
      top: 77%;
      font-size: 26px;
      text-align: center;
    }
  }
    }
  }
  }
}

.error {
  margin-top: 58px;
  background-color: $black;
  .container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  .container {
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    .opensoon {
      height: 700px;
      position: relative;
      background-image: url("../img/dog_aboutus.jpg"); 
      background-repeat: no-repeat;
      background-size: cover;
      @media (max-width: 992px) {
        background-position: 25%;
      }
      @media (max-width: 415px) {
        background-position: 25%;
      }
      .text {
        font-family: 'BenchNine', sans-serif;
        border: 1px solid $yellow;
        padding: 15px;
        background-color: $yellow_opacity;
        color: $white;
        position: absolute;
        font-size: 46px;
        top: 75%;
        left: 50%;
        transform: translate(-50%,-50%);
        @media (max-width: 992px) {
          top: 73%;
          font-size: 34px;
          text-align: center;
        }
        @media (max-width: 415px) {
          top: 77%;
          font-size: 26px;
          text-align: center;
        }
        a {
          color: $white;
        }
      }
    }
  }
  }
 }

//gallery

#policy {
  font-family: 'BenchNine', sans-serif;
  margin: 10%;
  @media (max-width: 992px) {
    margin-top: 100px;
  }
  h2 {
    font-size: 26px;
    color: $white;
  }
  h3 {
    font-size: 22px;
    color: $white;
  }
  p {
    margin-left: 20px;
    font-size: 18px;
    color: $white;
  }
}

// footer

#footer {
  font-family: 'BenchNine', sans-serif;
  min-width: 100%;
  min-height: 500px;
  position: absolute;
  border-top: 1px solid $yellow;
  width: 50px;
  background-color: $black;
  display: inline-block;
  @media (max-width: 1366px) {
    text-align: center;
  }
  .container {
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;
    #informacje-menu, #inne-menu {
      li {
        a {
          color: $yellow;
          text-decoration: none;
          font-size: 24px;
          text-transform: uppercase;
          &:hover {
            color: $light-yellow;
          }
        }
      }
    }
    .footer-img {
      img {
      @media (max-width: 1366px) {
        padding-left: auto;
        padding-right: auto;
      }
    }
    }
    h3 {
      padding-top: 60px;
      padding-bottom: 30px;
      font-size: 24px;
      text-transform: uppercase;
      color: $yellow;
      font-weight: 900;
      @media (max-width: 1025px) {
        font-size: 20px;
      }
    }
    p {
      padding-bottom: 10px;
      font-size: 22px;
      text-transform: uppercase;
      color: $yellow;
      a {
        color: $yellow;
        text-decoration: none;
        &:hover {
          color: $light-yellow;
        }
      }
    }
    .social-ico {
      padding-top: 60px;
      padding-bottom: 30px;
      img {
        display: inline-block;
        width: 30px;
        margin-left: 50px;
        text-align: center;
        @media (max-width: 1366px) {
          margin-left: 0;
          margin: 16px;
        }
        @media (max-width: 1025px) {
          margin-left: 0;
          margin: 15px;
        }
      }
    }
    .contact-item {
      font-size: 22px;
      color: $yellow;
      padding-bottom: 10px;
      @media (max-width: 1366px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
      span {
        display: inline-block;
      img {
        float: left;
        margin-top: 6px;
        margin-right: 15px;
        @media (max-width: 1366px) {
          display: block;
        }
      }
      a {
        text-decoration: none;
        color: $yellow;
        line-height: 1.2;
        &:hover {
          color: $light-yellow;
        }
        @media (max-width: 1025px) {
          font-size: 20px;
        }
      }
    }
    }
    .footer-bottom {
      margin-top: 20px;
      @media (max-width: 1366px) {
        margin-bottom: 30px;
      }
      .policy {
        text-align: right;
        font-size: 16px;
        a {
          text-decoration: underline;
          color: $grey;
          &:hover {
            color: $col-grey-dark-2;
          }
        }
        @media (max-width: 1366px) {
          text-align: center;
        }
      }
      .rights {
        text-align: left;
        color: $grey;
        font-size: 16px;
        a {
          color: $grey;
          &:hover {
            color: $col-grey-dark-2;
          }
        }
        @media (max-width: 1366px) {
          text-align: center;
        }
      }
    }
  }
}

// end footer
